.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 20px;
}

.item {
  min-width: 0;
  width: 100%;
  /* override the span with inline styles! */
  --span: 1;
  grid-column: span var(--span);
}
